# SQL with Python üêç

## Objectives

1. SQLAlchemy
2. Create a database connection (engine)
3. Run SQL statements
4. Reading and Writing tables with pandas
5. Creating Databases

# 1. SQLAlchemy üêç

SQLAlchemy provides tools for managing connections to a database, interacting with database queries and results, and construction of SQL statements in Python.

concept  |  description
---|---|
`sqlalchemy`      | high-level python library for managing all kinds of relational databases
`psycopg2`      |   low-level python library that actually manages the communication with a PostgreSQL DB
`create_engine()`      |   creates an `engine` that manages a conncetion to a DB
`'postgresql://<user>:<password>@<host>/<db>'` | the url, a string that contains all information needed to connect to a DB
`with engine.begin() as conn` | opens a database connection to read or write data
`conn.execute()` | submit arbitrary SQL statements to a DB
`df.to_sql(tablename, engine)` | write a pandas DataFrame into a table of a database
`pd.read_sql(tablename,engine)` | read a table as a DataFrame

https://www.sqlalchemy.org/

https://www.psycopg.org/docs/install.html

https://docs.sqlalchemy.org/en/14/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.psycopg2

https://pypi.org/project/python-dotenv/

## üíæ Installation

Install the required libraries with `pip`:

```bash
pip install sqlalchemy
pip install psycopg2-binary
```

- **`sqlalchemy`** is the generic high-level database interface for Python. You can use it to connect to many different relational databases.   
- **`psycopg2`** is the low-level database driver specifically for Postgres.  
Usually `psycopg2` is not imported explicitly but is required by `sqlalchemy` when working with a Postgres Database Server.

In [ ]:
# !pip install sqlalchemy

# !pip install --upgrade sqlalchemy

In [ ]:
# !pip install psycopg2-binary

# 2. Create a database connection üîåüè¶

To access your database, SQLAlchemy needs a connection string. Connection strings consist of six parts:

part | description | default value
--- | --- | ---
dialect | The dialect/ flavour of the relational database | ...
host | IP address or name of the database server machine | localhost
port | network port on the host machine | 5432
database | the name of your database | postgres
user | the user name of the PostgreSQL Server | postgres
password | the password of the database user | ...

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

### A ``connection string`` for postgresql could look like this:

```python
url = '<dialect>://<user>:<password>@<host>:<port>/<database>'
```

In [ ]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [ ]:
# Now building the URL with the values from the .env file

url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

# without specifying the schema default connection is to the schema `public`
# url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

### With a connection string we can create an ``engine``:

In [ ]:
pg_db

In [ ]:
engine = create_engine(url, echo=False)

The engine object manages connections to the database. It can be used to open new connections or to handle several connections at once.

In [ ]:
# check your URL

engine.url # password is hidden

### Logging

`sqlalchemy` and `psycopg2` translate python statements into SQL commands that a database server can understand.  
When creating the engine, you can set `echo=True` to print out all the raw SQL queries that are actually sent to the server in the background and are usually hidden from the Python programmer!

### Schema: 

because we use different schemas, we need to specify in which schema to search for the table

**Option 1** - using search_path parameter:
>```sql
>SET search_path TO your_schema;  
>```
**Option 2** - associating the table with the schema directly:
>```sql
>SELECT * FROM your_schema.students;
>```

<br>

<details>
<summary><b> SIDEBAR:</b> What is <code>search_path</code>?</summary>

In PostgreSQL, the <code>search_path</code> is a configuration parameter that determines the order in which schemas are searched when an object (like a table or function) is referenced by a simple, unqualified name.

**Links:**
- https://www.commandprompt.com/education/postgresql-schema-search-path/
- https://www.postgresql.org/docs/current/ddl-schemas.html#DDL-SCHEMAS-PATH

</details>

In [ ]:
my_schema = 'sara_dont_touch' # update it to your schema

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))

# 3. Run SQL statements üîß‚úèÔ∏èüìö

With an `engine` defined we can now send plain SQL statements to the server.

***PREVIEW: Simple reading example***

In [ ]:
with engine.begin() as conn: # Done with echo=False
    result = conn.execute(text(f'''
                               SELECT * FROM students; 
                                '''))
    data = result.all()

### Let's create a dataframe out of that
df = pd.DataFrame(data, columns=['...', '...', '...']) 
df

### üîß 3.1 Create a new table ``seminars``:

Connecting to a database works like opening a connection to a local file.  

The connection stays open within the `with` block and will be closed afterwards. 

`conn.execute` sends the SQL statement to the server and optionally 
returns a result set.

In [ ]:
with engine.begin() as conn:
    conn.execute(text(f"""
        DROP TABLE IF EXISTS seminars;
        CREATE TABLE seminars (
            seminar_name VARCHAR PRIMARY KEY,
            seminar_start DATE,
            seminar_end DATE,
            instructor_id VARCHAR
        );    
    """))

>#### Check your Schema in DBeaver for changes

### ‚úèÔ∏è3.2 Insert some data:

Within a connection context we can send one or several statements at once:

In [ ]:
# let's switch the logging on. because the engine is getting renewed we need to specify the schema again.
engine = create_engine(url, echo=True)

my_schema = 'sara_dont_touch' # change it to your schema name

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))

In [ ]:
with engine.begin() as conn: # Done with echo=True
    conn.execute(text("INSERT INTO seminars VALUES ('art', '2024-03-23', '2024-05-23', 't23')"))
    conn.execute(text("INSERT INTO seminars VALUES ('ethics', '2024-03-17', '2024-04-05', 't12')"))
    conn.execute(text("INSERT INTO seminars VALUES ('engineering', '2024-10-09', '2024-11-08', 't45')"))
    conn.execute(text("INSERT INTO seminars VALUES ('politics', '2024-07-11', '2024-08-31', 't37')"))
    conn.execute(text("INSERT INTO seminars VALUES ('python', '2024-08-01', '2024-12-01', 't08')"))

or

In [ ]:
with engine.begin() as conn: # Done with echo=True
    conn.execute(text('''
                        TRUNCATE TABLE seminars; -- we need to empty the table due to Primary Key constraint
                        INSERT INTO seminars VALUES ('art', '2024-03-23', '2024-05-23', 't23');
                        INSERT INTO seminars VALUES ('ethics', '2024-03-17', '2024-04-05', 't12');
                        INSERT INTO seminars VALUES ('engineering', '2024-10-09', '2024-11-08', 't45');
                        INSERT INTO seminars VALUES ('politics', '2024-07-11', '2024-08-31', 't37');
                        INSERT INTO seminars VALUES ('python', '2024-08-01', '2024-12-01', 't08');                      
                    '''))

#### Side Bar: Transactions

>
>**engine.begin():**  
The statements withing the `with` block are executed as a *transaction*. A transaction bundles several SQL statements into a single atomic unit (all 'conn.execute()' are treated as a single transaction). If any query fails (e.g., due to an error or constraint violation), the entire transaction is rolled back, and none of the queries take effect. **It is all or nothing.**
>
This is called *atomicity* and is one of the key features of a relational database. To send the statements without transaction use `engine.connect()` instead of `engine.begin()`.
>
>**engine.connect():**  
Each `conn.execute()` line is treated as a separate transaction. If a query fails, it doesn‚Äôt affect other queries executed earlier. You need to explicitly handle the transactions (commit or rollback) for each individual query.

### üìö 3.3 Reading data

We can also run `SELECT` statements and store the result in a variable `result`  

The method `result.all()` reads all rows from the result object and returns a list
of tuples:

In [ ]:
# let's read the newly created table

with engine.begin() as conn: # Done with echo=True
    result = conn.execute(text("SELECT * FROM seminars;"))
    seminars_data = result.all()

print(seminars_data)
#returns a list of tuples, each tuple being a row in the table

The list of rows can then be converted into a `pd.DataFrame`:

In [ ]:
df = pd.DataFrame(seminars_data, columns=['seminar_name', 'seminar_start', 'seminar_end', 'instructor_id'])
# df.set_index('seminar_name')
df

In [ ]:
# let's switch the logging off again. .
engine = create_engine(url, echo=False)

my_schema = 'sara_dont_touch'

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))

>NOTE: if you don't have `students`, `enrolments` and `exam_tables` anymore. Please find the sql file `academy_tables.sql` in the lecture folder and run the queries in your schema in DBeaver.

# 4. Reading üìö and Writing ‚úèÔ∏è tables with pandas üêº

Pandas has some built-in tools to directly read data from a database into a DataFrame:

>**TEACHER's Note:**  
> if the cohort is not as strong read/query only one table, and then save it as another version of itself to the database.

In [ ]:
# reading students table into a dataframe

students = pd.read_sql(sql=text('SELECT * FROM students;'), con=engine)
# enrolments = pd.read_sql(sql=text('SELECT * FROM enrolments;'), con=engine.connect())
students

In [ ]:
# reading exam_scores table into a dataframe

exam_scores = pd.read_sql(sql=text('SELECT * FROM exam_grades;'), con=engine)
exam_scores

In [ ]:
# let's merge students and exam_scores on "student_id"

student_scores = pd.merge(students, exam_scores, on=('student_id'), how='inner')
student_scores

In [ ]:
# optionally adding student_id as index 
student_scores.set_index('student_id', inplace=True)
student_scores

#### With a one-liner, you can also import new data into the database:

In [ ]:
# Drop the table manually if it exists
#with engine.connect() as connection:
    #connection.execute(text("DROP TABLE IF EXISTS student_scores"))

In [ ]:
student_scores.to_sql('student_scores', engine, if_exists='replace',index=True)

>#### Check your Schema in DBeaver for changes

In the background, this creates a new table with column definitions and inserts the data into the table.   
>**Note:** Check the data type of the columns. For example the last column `grade` is currently a **float8**

To get more control over the data types of the table 
you can run a `CREATE TABLE` statement before inserting data with pandas:

In [ ]:
with engine.begin() as conn:
    conn.execute(text("DROP TABLE IF EXISTS student_grades;"))
    conn.execute(text("""
                        CREATE TABLE student_grades (
                                                    student_id INT,
                                                    student_name VARCHAR,
                                                    email VARCHAR,
                                                    seminar_name VARCHAR,
                                                    grade NUMERIC
                                                    );
                        """))
    student_scores.to_sql('student_grades', conn, if_exists='append', index='student_id') 
    # here we use the variable `conn` as this line is stil indented under the `with engine.begin() as conn`statement and is using the open connection to db.

> check now in DBeaver the data type of the columns.

or we can define a **dictionary** with the data types and pass it to the pandas `.to_sql()` method. In this case would use the `engine` directly as we are not opening a connection within a `WITH` statement.

> ### Refresh the database in DBeaver.